<h1>Client Info</h1>

<h3><b>Client: <%= @clients.name %></h3>
<h3><b>Email: <%= @clients.email %></h3>
<h3><b>Address: <%= @clients.address %></h3>
<h3><b>Phone Number: <%= @clients.phone %></h3>
<h3><b>Ext: <%= @clients.ext %></h3>
