
<br><div class="section-title section-title--style-1 text-xs-center">
        <h3 class="section-title-inner heading-4 strong-600">Proof of Delivery Board</h3>
        <span class="section-title-delimiter clearfix"></span>
    </div>



  <div class="mt-2 py-2 b-xs-top">
    <div class="row">
      <% @pods.each do |pod| %>
        <div class="col-md-4">
        <!-- Add margin to this div below -->
          <div class="block block--style-3 z-depth-1-bottom" style="margin-bottom: 40px;">
          
            <div class="block-body text-xs-center">
              <h5 class="heading heading-xs c-gray-light text-uppercase strong-500 letter-spacing-2 mb-0">Driver: <%= pod.driver.name %></h5>

              <span class="short-delimiter short-delimiter--style-1 short-delimiter-light  short-delimiter-center short-delimiter-lg"></span>

              <h3 class="heading heading-6 strong-500 text-normal">
                <a>Client: <%= pod.client.name %></a>
              </h3>
              <p>ID # <%= pod.id %></p>
              <p>Load # <%= pod.load %></p>
              <p>Origin: <%= pod.pickup_address %></p>
              <p>Destination: <%= pod.dropoff_address %></p>
              <p>Delivery Date/Time: <%= pod.delivery_date.strftime("%b %e %Y, %l:%M %p") %></p>
              <p>Consignee: <%= pod.consignee %></p>
              <p>Contact Person at Delivery: <%= pod.contact_person %></p>

              

              <span class="photo-wrapper">
              <br><br>
               <h5 class="section-title-inner heading-9 strong-600">Generate PDF</h5>

                 
                  <a href="<%= pod.asset.url %>" class="theater">
                  <img src="http://www.funai.gov.br/arquivos/conteudo/cggeo/img/PDF_downlaod.png" alt="" width=50
                  </a>
              </span>
             

            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>



</div>





