  <h3>Proof of Delivery</h3>

<div class="container">
  <div class="col-md-4">

    
    <h5>Driver Name: <%= @pod.driver.name %></h5>
    <h5>Client Name: <%= @pod.client.name %></h5>
    <h5>Pick Location: <%= @pod.pickup_address %></h5>
    <h5>Dropoff Location: <%= @pod.dropoff_address %></h5>
    <h5>Delivery Date/Time: <%= @pod.delivery_date %></h5>
    <h5>Consignee: <%= @pod.consignee %></h5>
    <h5>Contact Person at Delivery: <%= @pod.contact_person %></h5>
    <h5>Notes: <%= @pod.notes %></h5>
</div>
</div>




