<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
           
        
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left navbar-search-form" role="search">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" value="" class="form-control" placeholder="Search..." />
                </div>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="section-title section-title--style-1 text-xs-center">
    <h2 class="section-title-inner heading-4 strong-600">Driver Dashboard</h2>
    <span class="section-title-delimiter clearfix"></span>
</div>

<!-- MAIN WRAPPER -->


<div class="st-pusher">
    <div class="st-content">
        <div class="st-content-inner">
            <!-- HEADER -->
            <div class="header-1 header-inner-wrapper" id="header">
            <!-- GLOBAL SEARCH -->
            <section id="sctGlobalSearch" class="global-search global-search--style-2">
                <div class="relative">
                    <!-- Backdrop for global search -->
                    <div class="global-search-backdrop"></div>


                    
                    <!-- Search button -->
                     <li id="btnGlobalSearch" class="css-animate dropdown-icon hidden-xs hidden-sm" data-target="#sctGlobalSearch">
                    <a href="#" data-toggle="dropdown">
  <span>
    <i class="fa fa-search"></i>
                            </span>
                        </a>
                            </li>
                </ul>
            </div>
        </div>



</div>
 <section class="slice sct-color-2">
    <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-push-4">
                                 <div class="block-card-wrapper">
                                 <div class="block-card-section z-depth-1-bottom">
                                <div class="block-card-section-inner">
                                <div class="text-xs-center">
                            </div>
                                            
     </div>

    <span class="clearfix"></span>

    <div class="block block-post">
    <div class="block-image mt-1">
    
    </div>
       <br><div class="section-title section-title--style-1 text-xs-center">
        <h4 class="section-title-inner heading-4 strong-600">Proof of Delivery Board</h4>
        <span class="section-title-delimiter clearfix"></span>
    </div>

   


<!-- Side Bar -->

<div class="content table-responsive table-full-width">


      <table class="table table-striped" style="margin-left: 2%;
        width: 130%;">
        <thead>
            <th>Load</th>
            <th>Client</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Delivery Date/Time</th>
            <th>Driver</th>
            <th>View POD</th>
        </thead>
        <tbody>
        <% @pods.each do | pod | %>
            <tr>
                <td><%= pod.load%></td>
                <td><%= pod.client.name%></td>
                <td><%= pod.pickup_address%></td>
                <td><%= pod.dropoff_address%></td>
                <td><%= pod.delivery_date.try(:strftime, '%b %e, %l:%M %p') %></td>
                <td><%= pod.driver.name%></td>
                <td><a href="<%= pod.asset.url %>" class="theater"><img src="http://www.funai.gov.br/arquivos/conteudo/cggeo/img/PDF_downlaod.png" alt="" width=25<%= pod.asset_file_name%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @pods %>
 </div>
 
</div>
</div>
</div>
<div class="col-md-4 col-md-pull-8">
         <div class="sidebar">
    <!-- sidebar -->
    <div class="sidebar-object">
        <div class="block-card-wrapper">
            <div class="block-card-section z-depth-1-bottom new-pod-form">
                <div class="block-card-section-inner">

    </div>
      
<!-- Upload POD -->
 

  <div class="section-title section-title--style-1 text-xs-center">
        <h4 class="section-title-inner heading-4 strong-600">Upload POD</h4>
        <span class="section-title-delimiter clearfix"></span>
    </div>

 <%= form_tag "/pods", method: :post, multipart: true, class: "form-pod" do %>

    <div class="form-group">
      Driver Name: 
      <select name="driver_id" class="form-control">
        <% Driver.all.each do |driver| %>
          <option value="<%= driver.id %>"><%= driver.name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      Client Name: 
      <select name="client_id" class="form-control">
       <% Client.all.each do |client| %>
       <option value="<%= client.id %>"><%= client.name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
     Load #: <input type="text" class="form-control" name="load">
    </div>

    <div class="form-group">
     Origin: <input type="text" class="form-control" name="pickup_address">
    </div>

    <div class="form-group">
     Destination: <input type="text" class="form-control" name="dropoff_address">
    </div>

    <div class="form-group">
      Delivery Date/Time: <input type="datetime-local" class="form-control" name="delivery_date">
    </div>

    <div class="form-group">
      Consignee: <input type="text" class="form-control" name="consignee">
    </div>

    <div class="form-group">
      Contact Person at Delivery: <input type="text" class="form-control" name="contact_person">
    </div>

    <p>Quick Note:</p>
    <textarea rows="2" cols="29">
    </textarea>
    <br><br>

    <div class="form-group">
      Asset: <input type="file" class="form-control" name="asset">
    </div>

    <!-- <input type="submit" class="btn btn-default" value="create POD"> -->
    <a class="btn btn-default button-pod-create" href="#">Create POD</a>
    <br>
<% end %>



</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>