<!DOCTYPE html>
<html>
  <head>

    <title>RushCartageApp</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

    <!-- Page loader -->
    <script src="/assets/pace/js/pace.min.js"></script>
    <link rel="stylesheet" href="/assets/pace/css/pace-minimal.css" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css">


    <!-- CSS animation library -->
    <link rel="stylesheet" href="/assets/animate/animate.min.css" type="text/css">

    <!-- Plugins -->
    <link rel="stylesheet" href="/assets/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/swiper/css/swiper.min.css">

    <!-- Icons -->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="/fonts/line-icons/line-icons.css" type="text/css">
    <link rel="stylesheet" href="/fonts/line-icons-pro/line-icons-pro.css" type="text/css">

    <!-- Global style (main) -->
    <link id="stylesheet" type="text/css" href="/css/global-style.min.css" rel="stylesheet" media="screen">
    <!-- Custom style - Remove if not necessary -->
    <link type="text/css" href="/css/custom-style.css" rel="stylesheet">

    <!-- Favicon -->
    <link href="images/fav.png" rel="icon" type="image/png">


    <!-- RS5.0 -->
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/navigation.css">

    <!-- Cube Portfolio -->
    <link rel="stylesheet" href="/assets/cubeportfolio/css/cubeportfolio.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
  </div>
<% end %>

<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">

        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <!-- HEADER -->
                    <div class="header-1 " data-offset-top="84" data-nav-animation="fadeInDown" id="header">
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar--shadow navbar-dropdown--arrow navbar--caps navbar--strong" role="navigation">
    <div class="container relative">
        <div class="navbar-header">
  

        <!-- LOGO -->
        <a class="navbar-logo" href="index.html">
          <!-- Logo: Dark layout -->
          <img src="/images/logo/logo-1-a.png" class="hide" />
<br>
          <!-- Logo: Light layout -->
          <img src="/images/logo/logo.png" />
            </a>

                  <!-- SLIDEBAR TOGGLE -->
       
        
        <!-- NAVBAR SEARCH - for mobile resolutions -->
            <button type="button" class="navbar-icon-btn css-animate" data-target="#sctGlobalSearch">
       
          </button>
        </div>

        <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn zoomIn zoomIn zoomIn">
              <!-- Search button -->
                    


          <!-- Navbar items/links -->

                 
<li>
    <a href="/">
       <span>Home</span>
    </a>
</li>


<li>
    <a href="/about_us">
       <span>About</span>
    </a>
</li>
 
<li>
    <a href="/services">
       <span>Services</span>
    </a>

<li>
    <a href="/contacts">
       <span>Contact</span>
    </a>
</li>

<% if current_driver %>
<li>
    <a href="/drivers">Dashboard</a>
</li>
<li>
    <a href="/drivers_logout">Logout</a>
</li>
<% elsif current_admin %>
<li>
    <a href="/admins">Dashboard</a>
</li>
<li>
    <a href="/admins_logout">Logout</a>
</li>
<% elsif current_client %>
<li>
    <a href="/clients">Dashboard</a>
</li>
<li>
    <a href="/clients_logout">Logout</a>
</li>
<% else %>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
       <span>Log in</span>
    </a>
    <ul class="dropdown-menu">
        
           
        </li>
        <li>

            <a tabindex="-1" href="/admins_login">Admin Login</a>
        </li>
        <li>
            <a tabindex="-1" href="/clients_login">Client Login</a>
        </li>
         <li>
            <a tabindex="-1" href="drivers_login">Driver Login</a>
        </li>
    </ul>
</li>

<li>
    <a href="/clients_signup"
       <span>Sign up</span>
    </a>
</li>
<% end %>
          
           <br>      
 
            </ul>
        </div>
    </div>
  </nav>


  <!-- GLOBAL SEARCH -->
    <section id="sctGlobalSearch" class="global-search">
    <div class="relative">
        <!-- Backdrop for global search -->
        <div class="global-search-backdrop"></div>

        <!-- Search form -->
        <form class="form-horizontal form-global-search" role="form">
            <div class="container relative">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" class="search-input" placeholder="Type and hit enter ...">
                    </div>
                </div>

                <!-- Close button -->
                <button type="button" class="global-search-close-btn css-animate" data-target="#sctGlobalSearch" title="Close search bar">
                    <i class="icon ion-close-round"></i>
                </button>
            </div>
        </form>
    </div>
</section>
</div>


    <%= yield %>

                    <!-- FOOTER -->
                    <footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="col">

                       <ul class="footer-links">
                            <li>



             


    <div class="footer-bottom">
        <div class="container">
            <div class="row flex flex-items-xs-middle">
                <div class="col col-sm-7 col-xs-12">
                    <div class="copyright">
                        Copyright &copy; 2017 All rights reserved
                    </div>
                </div>
             
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->
    <!-- SCRIPTS -->
    <a href="#0" class="back-to-top"></a>

    <!-- Required JSs -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!-- Essential JSs -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-extensions/bootstrap-dropdownhover.js"></script>
    <script src="/js/bootstrap-extensions/bootstrap-dropdowneffect.js"></script>
    <script src="/js/bootstrap-extensions/bootstrap-validator.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/slidebar/slidebar.js"></script>

    <!-- Assets - Required -->
    <script src="/assets/headroom/headroom.min.js"></script>
    <script src="/assets/headroom/jquery.headroom.min.js"></script>
    <script src="/assets/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/assets/swiper/js/swiper.min.js"></script>
    <script src="/assets/parallax/parallax.min.js"></script>
    <script src="/assets/viewport-checker/viewportchecker.min.js"></script>
    <script src="/assets/milestone-counter/jquery.countTo.js"></script>

    <!-- Cross-browser responsivity scripts -->
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analitycs JS -->
    <script type="text/javascript" src="/js/wpx.ga.js"></script>


    <!-- RS5.0 Core JS Files -->
    <script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script type="text/javascript" src="/js/revolution/revolution-slider-hero-youtube-2.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- Cube Portfolio -->
    <script src="/assets/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="/assets/cubeportfolio/js/main.4-col.mosaic.js"></script>

    <!-- App JS -->
    <script src="/js/wpx.app.js"></script>

  </body>
</html>
